<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152575457558-ft1aevpratds55br1cv72oeal57v9epu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152575457558-ft1aevpratds55br1cv72oeal57v9epu</string>
	<key>API_KEY</key>
	<string>AIzaSyDx5ZeZ9-Dp0UsW2LtFYK3A1qd-FneyXsg</string>
	<key>GCM_SENDER_ID</key>
	<string>152575457558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyojun.com.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-7d8b6</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-7d8b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152575457558:ios:ac38edaddb264278d83837</string>
</dict>
</plist>